@import url('https://fonts.googleapis.com/css?family=Alef:400,700&subset=hebrew');

body
{
    direction: rtl;
    padding: 20px;
    padding-top: 0px;
    font-family: 'Alef', sans-serif;
    
    font-size: 4vh;
}

body.envi
{
    background: url(../images/envi-q-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body.non-q-page
{
    background: linear-gradient(to right, lightblue, lightgreen)
}

td, th
{
    text-align: right;
}

tr.winnerRow
{
    font-weight: 800;
    color: blue;
}

h1
{
    font-size: 6vh;
    margin: 0;
    text-align: center;
}

h2
{
    font-size: 4vh;
    margin: 0;
    margin-top: 2vh;
}

input + label
{
    background-color: rgba(0,0,0,0);
}

input:checked + label
{
    background-color: rgba(50, 100, 200, 0.5);
}

label
{
    width: 100%;
    text-align: center;
}

.centered-p
{
    width: 100%;
    text-align: center;
}

.centering-div
{
    text-align: center;
}

#moatza-logo
{
    width: 95%;
}

body.health .bg-img
{
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
}

body.envi .bg-img
{
    display: none;
}

body.health .bg-img-left
{
    left: 0;
}

body.health .bg-img-right
{
    right: 0;
}

.content
{
    position: absolute;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}

.desc
{
    font-size: 3vh;
}
